In [1]:
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/04-Pandas_Homework_Instructions_PyCitySchools_Resources_schools_complete.csv"
student_data_to_load = "Resources/04-Pandas_Homework_Instructions_PyCitySchools_Resources_students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_total = len(school_data_complete["school_name"].unique())

In [3]:
student_total = school_data_complete["student_name"].count()
print(student_total)

39170

In [4]:
budget_total = school_data_complete["budget"].sum()
print(budget_total)

82932329558

In [5]:
avg_math = school_data_complete["math_score"].mean()

In [6]:
avg_read = school_data_complete["reading_score"].mean()
print(avg_read)

81.87784018381414

In [7]:
#pass_math_per = school_data_complete.loc[school_data_complete["math_score"] >= 70].count()
#pass_math = np.sum(school_data_complete["math_score"] >= 70)
pass_math = school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"]
pass_math_per = (pass_math/student_total) * 100
print(pass_math)
print(pass_math_per)

29370
74.9808526933878

In [8]:
#pass_read_per = school_data_complete.loc[school_data_complete["reading_score"]>= 70].count()
#pass_read = np.sum(school_data_complete["reading_score"] >= 70)
pass_read = school_data_complete[school_data_complete["reading_score"] >= 70].count()["student_name"]
pass_read_per = (pass_read/student_total) * 100
print(pass_read)
print(pass_read_per)

33610
85.80546336482001

In [9]:
overall_pass = school_data_complete[(school_data_complete.reading_score >= 70) & (school_data_complete.math_score >= 70)].count()["student_name"]
overall_pass_per = (overall_pass/student_total) * 100
print(overall_pass)
print(overall_pass_per)

25528
65.17232575950983

In [10]:
#school_data_complete.items = {"Total Schools": [school_total],
 #                        "Total Students": [student_total],
#                         "Total Budgets": [budget_total],
 #                        "Average Math Score": [avg_math],
 #                        "Average Reading Score": [avg_read],
 #                        "% Passing Math": [pass_math_per],
 #                        "% Passing Reading": [pass_read_per],
 #                        "% Overall Passing": [overall_pass_per]}
#district_summary.df = pd.DataFrame(school_data_complete.items, columns = ["Total Schools","Total Students","Total Budgets","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"])
#district_summary.df

In [11]:
#School Summary-------------------------------------------------------------------------------------------------------
#group by school name last
# How much code from last summary do I reuse here

In [21]:
type_school = school_data_complete["type"].unique()
type_school

array(['District', 'Charter'], dtype=object)

In [ ]:
type_school.str

In [ ]:
# per student budget
student_budget = student_total/budget_total