In [1]:
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/04-Pandas_Homework_Instructions_PyCitySchools_Resources_schools_complete.csv"
student_data_to_load = "Resources/04-Pandas_Homework_Instructions_PyCitySchools_Resources_students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()
fresh_school_data_complete = school_data_complete

In [2]:
school_total = len(school_data_complete["school_name"].unique())

In [3]:
student_total = school_data_complete["student_name"].count()
print(student_total)

39170

In [4]:
budget_total = school_data["budget"].sum()
print(budget_total)

24649428

In [5]:
avg_math = school_data_complete["math_score"].mean()

In [6]:
avg_read = school_data_complete["reading_score"].mean()
print(avg_read)

81.87784018381414

In [7]:
#pass_math_per = school_data_complete.loc[school_data_complete["math_score"] >= 70].count()
#pass_math = np.sum(school_data_complete["math_score"] >= 70)
pass_math = school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"]
pass_math_per = (pass_math/student_total) * 100
print(pass_math)
print(pass_math_per)

29370
74.9808526933878

In [8]:
#pass_read_per = school_data_complete.loc[school_data_complete["reading_score"]>= 70].count()
#pass_read = np.sum(school_data_complete["reading_score"] >= 70)
pass_read = school_data_complete[school_data_complete["reading_score"] >= 70].count()["student_name"]
pass_read_per = (pass_read/student_total) * 100
print(pass_read)
print(pass_read_per)

33610
85.80546336482001

In [9]:
overall_pass = school_data_complete[(school_data_complete.reading_score >= 70) & (school_data_complete.math_score >= 70)].count()["student_name"]
overall_pass_per = (overall_pass/student_total) * 100
print(overall_pass)
print(overall_pass_per)

25528
65.17232575950983

In [10]:
school_data_comp = {"Total Schools": [school_total],
                         "Total Students": [student_total],
                         "Total Budgets": [budget_total],
                         "Average Math Score": [avg_math],
                         "Average Reading Score": [avg_read],
                         "% Passing Math": [pass_math_per],
                         "% Passing Reading": [pass_read_per],
                         "% Overall Passing": [overall_pass_per]}
district_summary = pd.DataFrame(school_data_comp)
district_summary

,Total Schools,Total Students,Total Budgets,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [11]:
#School Summary-------------------------------------------------------------------------------------------------------
#group by school name last
# How much code from last summary do I reuse here
#school_names = school_data_complete["school_name"].unique()
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [16]:
#type_school = school_data_complete["type"].unique()
#school_filter = school_data_complete.groupby(["school_name"])
#school_filter.count().head(5)
#Maybe put this last?
school_filter = school_data_complete.set_index("school_name")
school_filter["school_name"] = school_filter.index
school_filter

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget,school_name
school_name,,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635,Huang High School
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635,Huang High School
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635,Huang High School
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635,Huang High School
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635,Huang High School
...,...,...,...,...,...,...,...,...,...,...,...
Thomas High School,39165,Donna Howard,F,12th,99,90,14,Charter,1635,1043130,Thomas High School
Thomas High School,39166,Dawn Bell,F,10th,95,70,14,Charter,1635,1043130,Thomas High School
Thomas High School,39167,Rebecca Tanner,F,9th,73,84,14,Charter,1635,1043130,Thomas High School
Thomas High School,39168,Desiree Kidd,F,10th,99,90,14,Charter,1635,1043130,Thomas High School
Thomas High School,39169,Carolyn Jackson,F,11th,95,75,14,Charter,1635,1043130,Thomas High School

In [13]:
# per student budget
# = (student_total/budget_total) 
#student_budget

In [14]:
#school_comp = {"School Type": [type_school],
 #                  "Total Students": [student_total],
  #                 "Total Budgets": [budget_total],
   #                "Per Student Budget": [student_budget],
    #               "Average Math Score": [avg_math],
     #              "Average Reading Score": [avg_read],
      #             "% Passing Math": [pass_math_per],
       #            "% Passing Reading": [pass_read_per],
        #           "% Overall Passing": [overall_pass_per]}
#class_summary = pd.DataFrame(school_comp,index = school_names)
#class_summary

In [15]:
#class_summary = class_summary.groupby('school_name')