In [1]:
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/04-Pandas_Homework_Instructions_PyCitySchools_Resources_schools_complete.csv"
student_data_to_load = "Resources/04-Pandas_Homework_Instructions_PyCitySchools_Resources_students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_total = len(school_data_complete["school_name"].unique())

In [3]:
student_total = school_data_complete["student_name"].count()
print(student_total)

39170

In [4]:
budget_total = school_data["budget"].sum()
print(budget_total)

24649428

In [5]:
avg_math = school_data_complete["math_score"].mean()

In [6]:
avg_read = school_data_complete["reading_score"].mean()
print(avg_read)

81.87784018381414

In [7]:
#pass_math_per = school_data_complete.loc[school_data_complete["math_score"] >= 70].count()
#pass_math = np.sum(school_data_complete["math_score"] >= 70)
pass_math = school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"]
pass_math_per = (pass_math/student_total) * 100
print(pass_math)
print(pass_math_per)

29370
74.9808526933878

In [62]:
#pass_read_per = school_data_complete.loc[school_data_complete["reading_score"]>= 70].count()
#pass_read = np.sum(school_data_complete["reading_score"] >= 70)
pass_read = school_data_complete[school_data_complete["reading_score"] >= 70].count()["student_name"]
pass_read_per = (pass_read/student_total) * 100
print(pass_read)
print(pass_read_per)

33610
85.80546336482001

In [63]:
overall_pass = school_data_complete[(school_data_complete.reading_score >= 70) & (school_data_complete.math_score >= 70)].count()["student_name"]
overall_pass_per = (overall_pass/student_total) * 100
print(overall_pass)
print(overall_pass_per)

25528
65.17232575950983

In [64]:
school_data_comp = {"Total Schools": [school_total],
                         "Total Students": [student_total],
                         "Total Budgets": [budget_total],
                         "Average Math Score": [avg_math],
                         "Average Reading Score": [avg_read],
                         "% Passing Math": [pass_math_per],
                         "% Passing Reading": [pass_read_per],
                         "% Overall Passing": [overall_pass_per]}
district_summary = pd.DataFrame(school_data_comp)
district_summary

,Total Schools,Total Students,Total Budgets,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [65]:
#school_data_complete["type"] = school_data_complete["type"].astype(str)

In [66]:
student_class = school_data_complete.groupby("school_name").count()["size"]

In [67]:
type_class = school_data_complete.groupby("school_name").first()["type"]

In [68]:
budget_class = school_data_complete.groupby("school_name").mean()["budget"]

In [69]:
per_student_budget = budget_class/student_class

In [70]:
avg_math_class = school_data_complete.groupby("school_name").mean()["math_score"]

In [71]:
avg_read_class = school_data_complete.groupby("school_name").mean()["reading_score"]

In [72]:
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_total_passing_math = school_passing_math.groupby("school_name").count()["Student ID"]
math_score_class = (school_total_passing_math/total_students)*100

In [73]:
school_passing_read = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_total_passing_read = school_passing_read.groupby("school_name").count()["Student ID"]
read_score_class = (school_total_passing_read/total_students)*100

In [88]:
overall_pass_school = school_data_complete[(school_data_complete.reading_score >= 70) & (school_data_complete.math_score >= 70)]
total_overall_pass = overall_pass_school.groupby("school_name").count()["Student ID"]
overall_pass_per = (overall_pass_school/total_overall_pass)*100

In [82]:
school_comp = {"School Type": type_class,
                  "Total Students": student_class,
                  "Total Budgets": budget_class,
                  "Per Student Budget": per_student_budget,
                  "Average Math Score": avg_math_class,
                  "Average Reading Score": avg_read_class,
                  "% Passing Math": math_score_class,
                  "% Passing Reading": read_score_class,
                  "% Overall Passing": overall_pass_per}
class_summary = pd.DataFrame(school_comp)
class_summary

,School Type,Total Students,Total Budgets,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [76]:
#Bottom 5 schools
bottom_class_df = class_summary.sort_values("% Overall Passing")
bottom_class_df.head()

,School Type,Total Students,Total Budgets,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [77]:
#Top 5 school
top_class_df = class_summary.sort_values("% Overall Passing",ascending=False)
top_class_df.head()

,School Type,Total Students,Total Budgets,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [83]:
math_school_data = school_data_complete.loc[:,["school_name","grade","math_score","size"]]
math_school_data

              school_name grade  math_score  size
0       Huang High School   9th          79  2917
1       Huang High School  12th          61  2917
2       Huang High School  12th          60  2917
3       Huang High School  12th          58  2917
4       Huang High School   9th          84  2917
...                   ...   ...         ...   ...
39165  Thomas High School  12th          90  1635
39166  Thomas High School  10th          70  1635
39167  Thomas High School   9th          84  1635
39168  Thomas High School  10th          90  1635
39169  Thomas High School  11th          75  1635

[39170 rows x 4 columns]

In [84]:
columns = ["school_name","grade","math_score","size"]
grade_nine_data= math_school_data.loc[math_school_data["grade"]=="9th",columns]
grade_nine_data

              school_name grade  math_score  size
0       Huang High School   9th          79  2917
4       Huang High School   9th          84  2917
5       Huang High School   9th          94  2917
12      Huang High School   9th          79  2917
13      Huang High School   9th          79  2917
...                   ...   ...         ...   ...
39152  Thomas High School   9th          84  1635
39153  Thomas High School   9th          75  1635
39157  Thomas High School   9th          94  1635
39164  Thomas High School   9th          76  1635
39167  Thomas High School   9th          84  1635

[11408 rows x 4 columns]

In [85]:
grade_nine_math = grade_nine_data.groupby("school_name").mean()["math_score"]

In [89]:
grade_ten_data = math_school_data.loc[math_school_data["grade"]=="10th",columns]
grade_ten_math = grade_ten_data.groupby("school_name").mean()["math_score"]

In [90]:
grade_eleven_data = math_school_data.loc[math_school_data["grade"]=="11th",columns]
grade_eleven_math = grade_eleven_data.groupby("school_name").mean()["math_score"]

In [91]:
grade_twelve_data = math_school_data.loc[math_school_data["grade"]=="12th",columns]
grade_twelve_math = grade_twelve_data.groupby("school_name").mean()["math_score"]

In [95]:
school_math_avg = {"Grade 9": grade_nine_math,
                      "Grade 10": grade_ten_math,
                      "Grade 11": grade_eleven_math,
                      "Grade 12": grade_twelve_math}

math_summary = pd.DataFrame(school_math_avg)
math_summary

                         Grade 9   Grade 10   Grade 11   Grade 12
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [96]:
read_school_data = school_data_complete.loc[:,["school_name","grade","reading_score","size"]]
read_school_data

              school_name grade  reading_score  size
0       Huang High School   9th             66  2917
1       Huang High School  12th             94  2917
2       Huang High School  12th             90  2917
3       Huang High School  12th             67  2917
4       Huang High School   9th             97  2917
...                   ...   ...            ...   ...
39165  Thomas High School  12th             99  1635
39166  Thomas High School  10th             95  1635
39167  Thomas High School   9th             73  1635
39168  Thomas High School  10th             99  1635
39169  Thomas High School  11th             95  1635

[39170 rows x 4 columns]

In [101]:
columns_read = ["school_name","grade","reading_score","size"]
grade_nine_data_read= read_school_data.loc[read_school_data["grade"]=="9th",columns_read]
grade_nine_data_read

              school_name grade  reading_score  size
0       Huang High School   9th             66  2917
4       Huang High School   9th             97  2917
5       Huang High School   9th             94  2917
12      Huang High School   9th             64  2917
13      Huang High School   9th             71  2917
...                   ...   ...            ...   ...
39152  Thomas High School   9th             98  1635
39153  Thomas High School   9th             80  1635
39157  Thomas High School   9th             79  1635
39164  Thomas High School   9th             97  1635
39167  Thomas High School   9th             73  1635

[11408 rows x 4 columns]

In [102]:
grade_nine_read = grade_nine_data_read.groupby("school_name").mean()["reading_score"]

In [103]:
grade_ten_data_read= read_school_data.loc[read_school_data["grade"]=="10th",columns_read]
grade_ten_read = grade_ten_data_read.groupby("school_name").mean()["reading_score"]

In [104]:
grade_eleven_data_read= read_school_data.loc[read_school_data["grade"]=="11th",columns_read]
grade_eleven_read = grade_eleven_data_read.groupby("school_name").mean()["reading_score"]

In [105]:
grade_twelve_data_read= read_school_data.loc[read_school_data["grade"]=="11th",columns_read]
grade_twelve_read = grade_twelve_data_read.groupby("school_name").mean()["reading_score"]

In [106]:
school_read_avg = {"Grade 9": grade_nine_read,
                      "Grade 10": grade_ten_read,
                      "Grade 11": grade_eleven_read,
                      "Grade 12": grade_twelve_read}

read_summary = pd.DataFrame(school_read_avg)
read_summary

                         Grade 9   Grade 10   Grade 11   Grade 12
school_name
Bailey High School     81.303155  80.907183  80.945643  80.945643
Cabrera High School    83.676136  84.253219  83.788382  83.788382
Figueroa High School   81.198598  81.408912  80.640339  80.640339
Ford High School       80.632653  81.262712  80.403642  80.403642
Griffin High School    83.369193  83.706897  84.288089  84.288089
Hernandez High School  80.866860  80.660147  81.396140  81.396140
Holden High School     83.677165  83.324561  83.815534  83.815534
Huang High School      81.290284  81.512386  81.417476  81.417476
Johnson High School    81.260714  80.773431  80.616027  80.616027
Pena High School       83.807273  83.612000  84.335938  84.335938
Rodriguez High School  80.993127  80.629808  80.864811  80.864811
Shelton High School    84.122642  83.441964  84.373786  84.373786
Thomas High School     83.728850  84.254157  83.585542  83.585542
Wilson High School     83.939778  84.021452  83.764608  83.764608
Wright High School     83.833333  83.812757  84.156322  84.156322

In [107]:
bins = [0,585,630,645,680]
group_labels =["<$585","$585-$630","$630-$645","$645-$680"]

In [108]:
pd.cut(class_summary["Per Student Budget"],bins,labels=group_labels)

school_name
Bailey High School       $585-$630
Cabrera High School          <$585
Figueroa High School     $630-$645
Ford High School         $630-$645
Griffin High School      $585-$630
Hernandez High School    $645-$680
Holden High School           <$585
Huang High School        $645-$680
Johnson High School      $645-$680
Pena High School         $585-$630
Rodriguez High School    $630-$645
Shelton High School      $585-$630
Thomas High School       $630-$645
Wilson High School           <$585
Wright High School           <$585
Name: Per Student Budget, dtype: category
Categories (4, object): ['<$585' < '$585-$630' < '$630-$645' < '$645-$680']

In [109]:
class_summary["Spending Ranges(Per Student)"] = pd.cut(class_summary["Per Student Budget"],bins,labels=group_labels)

In [111]:
spend_range = class_summary.groupby("Spending Ranges(Per Student)")
spend_range[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges(Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-$630,81.899826,83.155286,87.133538,92.718205,89.925871
$630-$645,78.518855,81.624473,73.484209,84.391793,78.938001
$645-$680,76.997210,81.027843,66.164813,81.133951,73.649382

In [117]:
bins_size = [0,1000,2000,5000]
size_labels =["Small(<1000)","Medium(1000-2000)","Large(2000-5000)"]

In [118]:
pd.cut(class_summary["Total Students"],bins_size,labels=size_labels)

school_name
Bailey High School        Large(2000-5000)
Cabrera High School      Medium(1000-2000)
Figueroa High School      Large(2000-5000)
Ford High School          Large(2000-5000)
Griffin High School      Medium(1000-2000)
Hernandez High School     Large(2000-5000)
Holden High School            Small(<1000)
Huang High School         Large(2000-5000)
Johnson High School       Large(2000-5000)
Pena High School              Small(<1000)
Rodriguez High School     Large(2000-5000)
Shelton High School      Medium(1000-2000)
Thomas High School       Medium(1000-2000)
Wilson High School        Large(2000-5000)
Wright High School       Medium(1000-2000)
Name: Total Students, dtype: category
Categories (3, object): ['Small(<1000)' < 'Medium(1000-2000)' < 'Large(2000-5000)']

In [119]:
class_summary["School Size"] = pd.cut(class_summary["Total Students"],bins_size,labels=size_labels)

In [120]:
class_range = class_summary.groupby("School Size")
class_range[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small(<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium(1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large(2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

In [18]:
#This is for series
group_class_version_complete = class_version_complete.groupby(["school_name"])
student_class = group_class_version_complete.count()["type"]

In [19]:
#group_class_version_complete = class_version_complete.groupby(["school_name"])
#group_class_version_complete.count().head(10)

#This is for series
budget_class = group_class_version_complete.mean()["budget"]
per_student_budget = budget_class/student_class

In [24]:
#type_school = school_data_complete["type"].unique()
#school_filter = school_data_complete.groupby(["school_name"])
#school_filter.count().head(5)
#Maybe put this last?
#school_filter = school_data_complete.set_index("school_name")
#school_filter["school_name"] = school_filter.index
#school_filter

#This is for series
#math_score_class = group_class_version_complete.mean()["math_score"]
group_class_version_complete["% Passing Math"] =

AttributeError: 'DataFrameGroupBy' object has no attribute 'where'

In [ ]:
# per student budget
# = (student_total/budget_total) 
#student_budget

#This is for series
reading_score_class = group_class_version_complete.mean()["reading_score"]

In [ ]:
school_comp = {#"School Type": type_class,
                  "Total Students": student_class,
                  "Total Budgets": budget_class,
                  "Per Student Budget": per_student_budget,
                  "Average Math Score": math_score_class,
                  "Average Reading Score": reading_score_class}
                  #"% Passing Math": ,
                  #"% Passing Reading": pass_read_per,
                  #"% Overall Passing": overall_pass_per}
#class_summary = pd.DataFrame(school_comp)
#class_summary

In [ ]:
#class_summary = class_summary.groupby('school_name')

#This is for series
#class_summary_grade = class_summary

In [ ]:
#To add a new column, possible way to add back the grade column

#This is for series
#class_summary_grade["grade"] = per_student_budget
#class_summary_grade