In [1]:
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/04-Pandas_Homework_Instructions_PyCitySchools_Resources_schools_complete.csv"
student_data_to_load = "Resources/04-Pandas_Homework_Instructions_PyCitySchools_Resources_students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_total = len(school_data_complete["school_name"].unique())

In [3]:
student_total = school_data_complete["student_name"].count()
print(student_total)

39170

In [4]:
budget_total = school_data["budget"].sum()
print(budget_total)

24649428

In [5]:
avg_math = school_data_complete["math_score"].mean()

In [6]:
avg_read = school_data_complete["reading_score"].mean()
print(avg_read)

81.87784018381414

In [7]:
#pass_math_per = school_data_complete.loc[school_data_complete["math_score"] >= 70].count()
#pass_math = np.sum(school_data_complete["math_score"] >= 70)
pass_math = school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"]
pass_math_per = (pass_math/student_total) * 100
print(pass_math)
print(pass_math_per)

29370
74.9808526933878

In [8]:
#pass_read_per = school_data_complete.loc[school_data_complete["reading_score"]>= 70].count()
#pass_read = np.sum(school_data_complete["reading_score"] >= 70)
pass_read = school_data_complete[school_data_complete["reading_score"] >= 70].count()["student_name"]
pass_read_per = (pass_read/student_total) * 100
print(pass_read)
print(pass_read_per)

33610
85.80546336482001

In [9]:
overall_pass = school_data_complete[(school_data_complete.reading_score >= 70) & (school_data_complete.math_score >= 70)].count()["student_name"]
overall_pass_per = (overall_pass/student_total) * 100
print(overall_pass)
print(overall_pass_per)

25528
65.17232575950983

In [10]:
school_data_comp = {"Total Schools": [school_total],
                         "Total Students": [student_total],
                         "Total Budgets": [budget_total],
                         "Average Math Score": [avg_math],
                         "Average Reading Score": [avg_read],
                         "% Passing Math": [pass_math_per],
                         "% Passing Reading": [pass_read_per],
                         "% Overall Passing": [overall_pass_per]}
district_summary = pd.DataFrame(school_data_comp)
district_summary

,Total Schools,Total Students,Total Budgets,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [11]:
#School Summary-------------------------------------------------------------------------------------------------------
#group by school name last
# How much code from last summary do I reuse here
#school_names = school_data_complete["school_name"].unique()
class_version_complete = school_data_complete[["school_name","type","size","budget","math_score","reading_score","grade"]]
class_version_complete.head()

         school_name      type  size   budget  math_score  reading_score grade
0  Huang High School  District  2917  1910635          79             66   9th
1  Huang High School  District  2917  1910635          61             94  12th
2  Huang High School  District  2917  1910635          60             90  12th
3  Huang High School  District  2917  1910635          58             67  12th
4  Huang High School  District  2917  1910635          84             97   9th

In [12]:
#class_version_complete["math_pass_count"] =

In [13]:
class_version_complete_df = pd.DataFrame(class_version_complete)

In [14]:
class_version_complete_df["Average Math Score"] = class_version_complete_df["math_score"].mean()

In [15]:
class_version_complete_df["Average Reading Score"]  = class_version_complete_df["reading_score"].mean()

In [16]:
#math_class_pass = [class_version_complete_df["reading_score"] >= 70].count()["school_name"]
#math_class_pass_prc = (math_class_pass/class_version_complete_df.count()["school_name"]) * 100
class_version_complete_df["% Passing Math"] = (class_version_complete.math_score >= 70).mean()
class_version_complete_df["% Passing Reading"] = (class_version_complete.reading_score >= 70).mean()

In [17]:
#Maybe calculate this after schools have been grouped together
#class_version_complete_df["Per Student Budget"] = class_version_complete_df["budget"]/class_version_complete_df["size"]

In [18]:
#This is for series
group_class_version_complete = class_version_complete.groupby(["school_name"])
student_class = group_class_version_complete.count()["type"]

In [19]:
#group_class_version_complete = class_version_complete.groupby(["school_name"])
#group_class_version_complete.count().head(10)

#This is for series
budget_class = group_class_version_complete.mean()["budget"]
per_student_budget = budget_class/student_class

In [24]:
#type_school = school_data_complete["type"].unique()
#school_filter = school_data_complete.groupby(["school_name"])
#school_filter.count().head(5)
#Maybe put this last?
#school_filter = school_data_complete.set_index("school_name")
#school_filter["school_name"] = school_filter.index
#school_filter

#This is for series
math_score_class = group_class_version_complete.mean()["math_score"]
math_score_class_pass = group_class_version_complete.math_score.agg()

AttributeError: 'DataFrameGroupBy' object has no attribute 'where'

In [ ]:
# per student budget
# = (student_total/budget_total) 
#student_budget

#This is for series
reading_score_class = group_class_version_complete.mean()["reading_score"]

In [ ]:
school_comp = {#"School Type": type_class,
                  "Total Students": student_class,
                  "Total Budgets": budget_class,
                  "Per Student Budget": per_student_budget,
                  "Average Math Score": math_score_class,
                  "Average Reading Score": reading_score_class}
                  #"% Passing Math": ,
                  #"% Passing Reading": pass_read_per,
                  #"% Overall Passing": overall_pass_per}
#class_summary = pd.DataFrame(school_comp)
#class_summary

In [ ]:
#class_summary = class_summary.groupby('school_name')

#This is for series
#class_summary_grade = class_summary

In [ ]:
#To add a new column, possible way to add back the grade column

#This is for series
#class_summary_grade["grade"] = per_student_budget
#class_summary_grade