In [1]:
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/04-Pandas_Homework_Instructions_PyCitySchools_Resources_schools_complete.csv"
student_data_to_load = "Resources/04-Pandas_Homework_Instructions_PyCitySchools_Resources_students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_total = len(school_data_complete["school_name"].unique())

In [3]:
student_total = school_data_complete["student_name"].count()
print(student_total)

39170

In [4]:
budget_total = school_data["budget"].sum()
print(budget_total)

24649428

In [5]:
avg_math = school_data_complete["math_score"].mean()

In [6]:
avg_read = school_data_complete["reading_score"].mean()
print(avg_read)

81.87784018381414

In [7]:
#pass_math_per = school_data_complete.loc[school_data_complete["math_score"] >= 70].count()
#pass_math = np.sum(school_data_complete["math_score"] >= 70)
pass_math = school_data_complete[school_data_complete["math_score"] >= 70].count()["student_name"]
pass_math_per = (pass_math/student_total) * 100
print(pass_math)
print(pass_math_per)

29370
74.9808526933878

In [8]:
#pass_read_per = school_data_complete.loc[school_data_complete["reading_score"]>= 70].count()
#pass_read = np.sum(school_data_complete["reading_score"] >= 70)
pass_read = school_data_complete[school_data_complete["reading_score"] >= 70].count()["student_name"]
pass_read_per = (pass_read/student_total) * 100
print(pass_read)
print(pass_read_per)

33610
85.80546336482001

In [9]:
overall_pass = school_data_complete[(school_data_complete.reading_score >= 70) & (school_data_complete.math_score >= 70)].count()["student_name"]
overall_pass_per = (overall_pass/student_total) * 100
print(overall_pass)
print(overall_pass_per)

25528
65.17232575950983

In [10]:
school_data_comp = {"Total Schools": [school_total],
                         "Total Students": [student_total],
                         "Total Budgets": [budget_total],
                         "Average Math Score": [avg_math],
                         "Average Reading Score": [avg_read],
                         "% Passing Math": [pass_math_per],
                         "% Passing Reading": [pass_read_per],
                         "% Overall Passing": [overall_pass_per]}
district_summary = pd.DataFrame(school_data_comp)
district_summary

,Total Schools,Total Students,Total Budgets,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [11]:
#School Summary-------------------------------------------------------------------------------------------------------
#group by school name last
# How much code from last summary do I reuse here
#school_names = school_data_complete["school_name"].unique()
class_version_complete = school_data_complete[["school_name","type","size","budget","math_score","reading_score","grade"]]
class_version_complete.head()

         school_name      type  size   budget  math_score  reading_score grade
0  Huang High School  District  2917  1910635          79             66   9th
1  Huang High School  District  2917  1910635          61             94  12th
2  Huang High School  District  2917  1910635          60             90  12th
3  Huang High School  District  2917  1910635          58             67  12th
4  Huang High School  District  2917  1910635          84             97   9th

In [12]:
group_class_version_complete = class_version_complete.groupby(["school_name"])
student_class = group_class_version_complete.count()["type"]

In [17]:
#group_class_version_complete = class_version_complete.groupby(["school_name"])
#group_class_version_complete.count().head(10)
budget_class = group_class_version_complete.mean()["budget"]
per_student_budget = budget_class/student_class

In [14]:
#type_school = school_data_complete["type"].unique()
#school_filter = school_data_complete.groupby(["school_name"])
#school_filter.count().head(5)
#Maybe put this last?
#school_filter = school_data_complete.set_index("school_name")
#school_filter["school_name"] = school_filter.index
#school_filter
math_score_class = group_class_version_complete.mean()["math_score"]

In [15]:
# per student budget
# = (student_total/budget_total) 
#student_budget
reading_score_class = group_class_version_complete.mean()["reading_score"]

In [19]:
school_comp = {#"School Type": type_class,
                  "Total Students": student_class,
                  "Total Budgets": budget_class,
                  "Per Student Budget": per_student_budget,
                  "Average Math Score": math_score_class,
                  "Average Reading Score": reading_score_class}
                  #"% Passing Math": pass_math_per,
                  #"% Passing Reading": pass_read_per,
                  #"% Overall Passing": overall_pass_per}
class_summary = pd.DataFrame(school_comp)
class_summary

,Total Students,Total Budgets,Per Student Budget,Average Math Score,Average Reading Score
school_name,,,,,
Bailey High School,4976,3124928.0,628.0,77.048432,81.033963
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020
Ford High School,2739,1763916.0,644.0,77.102592,80.746258
Griffin High School,1468,917500.0,625.0,83.351499,83.816757
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412
Holden High School,427,248087.0,581.0,83.803279,83.814988
Huang High School,2917,1910635.0,655.0,76.629414,81.182722
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394
Pena High School,962,585858.0,609.0,83.839917,84.044699
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686
Shelton High School,1761,1056600.0,600.0,83.359455,83.725724
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488
Wright High School,1800,1049400.0,583.0,83.682222,83.955000

In [21]:
#class_summary = class_summary.groupby('school_name')
class_summary_grade = class_summary

In [22]:
#To add a new column, possible way to add back the grade column
class_summary_grade["grade"] = per_student_budget
class_summary_grade

,Total Students,Total Budgets,Per Student Budget,Average Math Score,Average Reading Score,grade
school_name,,,,,,
Bailey High School,4976,3124928.0,628.0,77.048432,81.033963,628.0
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,582.0
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,639.0
Ford High School,2739,1763916.0,644.0,77.102592,80.746258,644.0
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,625.0
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,652.0
Holden High School,427,248087.0,581.0,83.803279,83.814988,581.0
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,655.0
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,650.0
Pena High School,962,585858.0,609.0,83.839917,84.044699,609.0
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,637.0
Shelton High School,1761,1056600.0,600.0,83.359455,83.725724,600.0
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,638.0
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,578.0
Wright High School,1800,1049400.0,583.0,83.682222,83.955000,583.0